[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
markdown = "*"
django-filter = "*"
uuid = "*"
dj-database-url = "*"
python-dotenv = "*"
django-guardian = "*"
djangorestframework-simplejwt = "*"
whitenoise = "*"
psycopg2 = "*"
psycopg2-binary = "*"

[dev-packages]

[requires]
python_version = "3.10"
